body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;        /* Permite que el fondo siempre llegue al final */
  height: auto; 
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  background: linear-gradient(to bottom, #fcfcfc, #a5d6a7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.banner {
  width: 100%;
  background-color: #4CAF50;
  padding: 30px 0;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.banner h1 {
  margin: 0;
  font-size: 52px;
  font-family:'Courier New', Courier, monospace;
  color: white;
}

.subtitulo {
  margin-top: 40px;
  font-size: 28px;
  font-family:Arial, Helvetica, sans-serif;
  color: #1b5e20;
}

.descripcion {
  font-size: 18px;
  margin-bottom: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #2e7d32;
}

.btn-principal {
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  padding: 14px 28px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-principal:hover {
  background-color: #388E3C;
  transform: scale(1.05);
}

.imagen-inicio {
  margin-top: 30px;
  width: 20%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.titulo-cuadro {
  border: 4px solid #4CAF50;
  padding: 10px 50px;
  border-radius: 20px;
  background-color: white;
  font-family:'Courier New', Courier, monospace;
  font-size: 60px;
  color: #000000;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  margin: 40px auto;
  text-align: center;
  max-width: 90%;
}
