body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;        /* Permite que el fondo siempre llegue al final */
  height: auto; 
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  background: linear-gradient(to bottom, #fcfcfc, #a5d6a7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.titulo-cuadro {
  border: 4px solid #4CAF50;
  padding: 10px 50px;
  border-radius: 20px;
  background-color: white;
  font-family:'Courier New', Courier, monospace;
  font-size: 60px;
  color: #000000;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  margin: 40px auto;
  text-align: center;
  max-width: 90%;
}

.menu-container {
  text-align: center;
  padding: 50px 20px;
}

.menu-opciones {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  margin: 0 auto;
}

.menu-btn{
  padding: 15px;
  font-size: 18px;
  background-color: #66bb6a;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-btn:hover {
  background-color: #388e3c;
}

.menu-btn.salir {
  background-color: #c62828;
}

.menu-btn.salir:hover {
  background-color: #b71c1c;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
  max-width: 600px;
  margin: 30px auto 40px;
}

.menu-card {
  background-color: #ffffff;
  border: 3px solid #4CAF50;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.menu-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.icono-grande {
  font-size: 36px;
  color: #000000;
  margin-bottom: 10px;
}

.menu-card span {
  display: block;
  font-size: 16px;
  font-weight:bold;
  color: #2e7d32;
}
